

@mixin telefono {
    @media (min-width : $telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: $desktopXL) {
        @content;
    }
}

@mixin grid($columnas,$espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $espaciado;
}

@mixin resetearLista {
    margin: 0;
    padding: 0;
    list-style: none;
}